/* ==================================================================
    Responsive Fixes
================================================================== */
#mobile-menu-button {
    background: #fff;
    box-shadow:@tm-box-shadow;
    border:1px solid @global-border;
    height:50px;
    line-height:50px;
    text-align:center;
    margin-top:20px;
}
#mobile-menu-button a {
    display:block;
}

#mobile-menu .uk-nav-sub > li.uk-active a {
    color:#fff;
}

@media (max-width: 960px) {

    #header {
        background:#fff;
        border-bottom:1px solid @global-border;
    }

    #header .uk-container {
        padding:0;
    }

    .logo {
        padding-left:20px;
        height:@tm-mobile-header-height;
        line-height:@tm-mobile-header-height;
    }

    .mobile-menu-button {
        height:@tm-mobile-header-height;
        line-height:@tm-mobile-header-height;
    }

}


/* Phone landscape and smaller
========================================================  */
@media (max-width: 767px) {

    h1 {
        font-size:28px;
    }

    .logo {
        padding-left: 0 !important;
        max-width: 70%;
    }
    .logo img {
        height:auto !important;
    }

    #headerbar {
        height:auto;
        margin-top:20px;
    }

    #slider .slider-item {
        height:auto !important;
        display:flex;
        flex-wrap: wrap-reverse;
        padding-bottom:50px;
        text-align:center;
    }
    #slider .slider-item .uk-button {
        margin-top:20px;
        font-size:13px;
    }
    #slider .swiper-wrapper {
        height: auto !important;
    }
    .swiper-pagination {
        text-align:center !important;
        padding-left:0 !important;
    }

    .product-desc {
        padding:25px;
    }

    .product-gallery .uk-grid > div + div {
        border-top:1px solid @global-border;
    }
    .product-gallery a:hover {
        background: #fff;
    }

    .pricing-container {
        overflow: auto;
    }

    #order-form .uk-button {
        line-height:30px;
    }

    #cart-table tr {
        border-top:3px solid @global-border;
    }

    #cart-table td,
    #cart-table tr:last-child td {
        box-sizing:border-box;
        display:block;
        width:100%;
    }
    #cart-table tr:last-child td {
        text-align:center;
    }

    #cart-table th:last-child {
        display:none;
    }

    #cart-table td + td {
        border-top:1px dashed @global-border;
    }

    #cart-table td.actions a {
        text-align:center;
        min-height:auto;
    }

}
