//======================================================================
//  Custom
//======================================================================
#popular-products > div:nth-child(2) .panel .uk-label {
    background: @tm-green;
}
#popular-products > div:nth-child(3) .panel .uk-label {
    background: @tm-purple;
}
#popular-products > div:nth-child(4) .panel .uk-label {
    background: darken(@tm-primary-bg, 10%);
}

svg {
    width:32px;
    height:32px;
}
