//======================================================================
//  Footer
//======================================================================
#footer {
    position:relative;
    border-top:4px solid @tm-primary-bg;
    background: #fff;
}
#footer:after,
#footer:before {
    content:'';
    display:block;
    position:absolute;
    top:-4px;
    left:35%;
    width:35%;
    height:4px;
    background: @tm-green;
}
#footer:after {
    left:auto;
    right:0;
    background: @tm-purple;
}

/**
 *  Contact Info
 */
#footer .contact-info svg {
    margin-right:10px;
}
#footer .contact-info li:nth-child(1) svg * {
    fill: @tm-green !important;
}
#footer .contact-info  li:nth-child(2) svg * {
    fill: @tm-primary-bg !important;
}
#footer .contact-info li:nth-child(3) svg * {
    fill: @tm-purple !important;
}

/**
 *  Social
 */
#footer .social svg {
    height:40px;
    width:40px;
}
#footer .social a:hover {
    text-decoration: none;
}

/*
*   ToTop
*/
.uk-totop.uk-icon {
    display:none;
    position:fixed;
    top:auto;
    right:50px;
    bottom:50px;
    z-index:99;
    color:#fff;
    z-index:1002;
}
#footer .uk-totop.uk-active {
    display:block;
    background: @tm-primary-bg;
    color:#fff !important;
    width:40px;
    height:40px;
    line-height:35px;
    text-align:center;
    border-radius:3px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
}
#footer .uk-totop.uk-active:hover {
    box-shadow: @global-large-box-shadow;
}

#footer .uk-totop.uk-icon svg * {
    stroke:#fff !important;
    color:#fff !important;
}

#footer .uk-totop.uk-icon svg {
    width:20px;
    height:20px;
}

//----------------------------------------------------------------------
//  Flip Slider
//----------------------------------------------------------------------
#footer .swiper-slide {
    height:350px;
    width:35px;
    border-radius:@tm-border-radius;
    box-shadow:@tm-box-shadow;
    background-size:cover;
    background-position: center;
}
#flip-slider .swiper-button-prev,
#flip-slider .swiper-button-next {
    background: @tm-primary-bg;
    width:50px;
    height:50px;
    line-height:50px;
    text-align:center;
    border-radius:@tm-border-radius;
    box-shadow:0 2px 7px 1px rgba(0, 0, 0, 0.2);
}
#flip-slider .swiper-button-next {
    right:-15px;
}
#flip-slider .swiper-button-prev {
    left:-15px;
}
#flip-slider svg {
    height:24px;
    width:24px;
}
