//======================================================================
//  Header
//======================================================================
#headerbar {
    height:120px;
}

.logo img {
    height:60px;
}

#headerbar .social svg {
    height:38px;
    width:38px;
}
#headerbar .social a + a {
    margin-left:5px;
}
#headerbar .social {
    line-height:60px;
    margin-right:20px;
}

//----------------------------------------------------------------------
//  Cart
//----------------------------------------------------------------------
#top-cart {
    position:relative;
    background: @tm-primary-bg;
    width:60px;
    height:60px;
    line-height:60px;
    text-align:center;
    border-radius:@tm-border-radius;
    box-shadow:0 2px 15px rgba(0, 0, 0, 0.2);
    border:none;
    transition:all 0.3s ease;
}
#top-cart svg {
    fill:#fff;
}

#top-cart-count {
    position:absolute;
    top:-7px;
    right:-7px;
    background: @tm-green;
}
#top-cart:hover {
    cursor: pointer;
    background: lighten(@tm-primary-bg, 5%);
    box-shadow:0 5px 15px rgba(0, 0, 0, 0.3);
}
