//======================================================================
//  Panel
//======================================================================
.panel {
    position:relative;
    overflow:hidden;
    min-height:280px;
    border-radius:@tm-border-radius;
    box-shadow:@tm-box-shadow;
    border:1px solid @global-border;
    transition:box-shadow 0.3s ease;
}

.panel-hover:hover {
    box-shadow:0 5px 20px rgba(0, 0, 0, 0.2);
}

.panel .uk-label {
    position:absolute;
    top:10px;
    right:10px;
    z-index:9;
    font-size: 13px;
}

.panels-group {
    position: relative;
    overflow: hidden;
    border-radius:@tm-border-radius;
    box-shadow:@tm-box-shadow;
}

//----------------------------------------------------------------------
//  Color panel
//----------------------------------------------------------------------
.color-panel {
    position:relative;
    overflow:hidden;
    min-height:300px;
}

.color-panel:after {
    content:'';
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    background: @tm-primary-bg;
    opacity:0.6;
    z-index:1;
}

.color-panel a {
    box-sizing:border-box;
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    text-align:center;
    height:50px;
    background: @tm-primary-bg;
    color:#fff;
    z-index:9;
    transition: all 0.3s ease;
}
.color-panel a:hover {
    text-decoration: none;
}

.color-panel a > h3 {
    margin:0;
    font-size:18px;
    text-transform: uppercase;
    font-weight:bold;
    line-height:50px;
    color:#fff;
}

.color-panel a > p {
    display:none;
    margin:0;
    margin-top:10px;
    font-size:14px;
    padding:0 25px;
    opacity:0;
    animation-duration: 0.3s;
}
.color-panel a:hover > p {
    display:block;
    opacity:1;
}

.color-panel.panel-green a,
.color-panel.panel-green:after {
    background: @tm-green;
}
.color-panel.panel-purple a,
.color-panel.panel-purple:after {
    background: @tm-purple;
}

.color-panel:hover a {
    height:100%;
    opacity:0.9;
    display:flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.color-panel:hover a h3 {
    line-height:30px;
}
