@base-body-background:                          #eee;
@base-body-font-family:                         @global-font-family;
@base-body-font-weight:                         normal;
@base-body-font-size:                           @global-font-size;
@base-body-line-height:                         @global-line-height;
@base-body-color:                               @global-color;

@base-link-color:                               @global-link-color;
@base-link-text-decoration:                     none;
@base-link-hover-color:                         @global-link-hover-color;
@base-link-hover-text-decoration:               underline;

@base-code-font-size:                           @global-small-font-size;
@base-code-font-family:                         Consolas, monaco, monospace;
@base-code-color:                               @global-danger-background;
@base-em-color:                                 @global-danger-background;
@base-ins-background:                           #ffd;
@base-ins-color:                                @global-color;
@base-mark-background:                          #ffd;
@base-mark-color:                               @global-color;
@base-quote-font-style:                         italic;
@base-small-font-size:                          80%;

@base-margin-vertical:                          @global-margin;

@base-heading-font-family:                      @global-font-family;
@base-heading-font-weight:                      bold;
@base-heading-color:                            @global-emphasis-color;
@base-heading-text-transform:                   uppercase;
@base-heading-margin-top:                       @global-medium-margin;
@base-h1-font-size:                             @global-xxlarge-font-size;
@base-h1-line-height:                           1.2;
@base-h2-font-size:                             @global-xlarge-font-size;
@base-h2-line-height:                           1.3;
@base-h3-font-size:                             @global-large-font-size;
@base-h3-line-height:                           1.4;
@base-h4-font-size:                             @global-medium-font-size;
@base-h4-line-height:                           1.4;
@base-h5-font-size:                             @global-font-size;
@base-h5-line-height:                           1.4;
@base-h6-font-size:                             @global-small-font-size;
@base-h6-line-height:                           1.4;

@base-list-padding-left:                        30px;

@base-hr-margin-vertical:                       @global-margin;
@base-hr-border-width:                          @global-border-width;
@base-hr-border:                                @global-border;

@base-blockquote-font-size:                     @global-medium-font-size;
@base-blockquote-line-height:                   1.5;
@base-blockquote-font-style:                    italic;
@base-blockquote-margin-vertical:               @global-margin;
@base-blockquote-footer-margin-top:             @global-small-margin;
@base-blockquote-footer-font-size:              @global-small-font-size;
@base-blockquote-footer-line-height:            1.5;

@base-pre-font-size:                            @global-small-font-size;
@base-pre-line-height:                          1.5;
@base-pre-font-family:                          @base-code-font-family;
@base-pre-color:                                @global-color;

@base-selection-background:                     #39f;
@base-selection-color:                          @global-inverse-color;

// CUSTOM
@background-height: 45px;

//======================================================================
//  Base
//======================================================================

.tm-section {
    margin:35px 0;
}

#main {
    background: #fff;
    border: 1px solid @global-border;
    box-shadow:@tm-box-shadow;
}

.content {
    background: #fff;
    border: 1px solid @global-border;
    box-shadow:@tm-box-shadow;
}

/**
 *  ul
 */
.tm-section ul {
    padding:0;
    list-style:none;
    font-size:0.9rem;
    line-height:1.2rem;
}
.tm-section ul > li + li {
    margin-top:7px;
    padding-top:7px;
    border-top:1px dashed @global-border;
}
.tm-section ul > li {
    position:relative;
    padding-left:10px;
}
.tm-section ul > li:before {
    content: "•";
    left:0;
    top:7px;
    margin-left:-10px;
    padding-right:5px;
    font-size:16px;
    color:@tm-primary-bg;
}

/**
 *  Lightbox
 */
.uk-lightbox {
    background: fade(black, 70%);
}
.uk-lightbox-item.uk-active {
    transition:all 0.3s ease !important;
}

//----------------------------------------------------------------------
//  breadcrumbs
//----------------------------------------------------------------------
#breadcrumbs {
    position: relative;
    background: @global-muted-background;
    border:1px solid @global-border;
    //overflow:hidden;
    box-shadow: @tm-box-shadow;
}
#breadcrumbs > * {
    position:relative;
    display:inline-block;
    padding:0 25px;
    background: fff;
    color:@global-muted-color;
    height:@background-height;
    line-height:@background-height;
    font-size:12px;
    text-transform: uppercase;
}
#breadcrumbs > *:not(:first-child) {
    padding-left:35px;
}

#breadcrumbs > *:after,
#breadcrumbs > *:before {
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: (@background-height / 2) 0 (@background-height / 2) 15px;
    border-color: transparent transparent transparent @global-border;
    position:absolute;
    top:0;
    left:0px;
}
#breadcrumbs > *:after {
    border-color: transparent transparent transparent @global-muted-background;
    left:-1px;
}

#breadcrumbs > a {
    background: @global-muted-background;
}
#breadcrumbs > a:after {
    border-color: transparent transparent transparent @global-muted-background;
}
#breadcrumbs > a:hover {
    text-decoration: none;
    color:@tm-primary-bg;
}

#breadcrumbs > a:first-child:before,
#breadcrumbs > a:first-child:after {
    display:none;
}

#breadcrumbs:after,
#breadcrumbs:before {
    content:'';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: (@background-height / 2) 0 (@background-height / 2) 15px;
    border-color: transparent transparent transparent @global-border;
    position:absolute;
    top:0;
    right:-16px;
}
#breadcrumbs:after {
    border-color: transparent transparent transparent #fff;
    right:-15px;
}

#breadcrumbs > span {
    background: #fff;
}
