//======================================================================
//  Cart
//======================================================================
#cart-table th,
#cart-table td {
    padding:15px 25px;
}
#cart-table td + td {
    border-left:1px solid @global-border;
}
#cart-table td.actions {
    padding:0;
}
#cart-table td.actions > a {
    display:block;
    padding:15px 35px;
    min-height:50px;
}
#cart-table td.price {
    min-width:100px;
}
