@navbar-background:                             @global-muted-background;
@navbar-color-mode:                             none;

@navbar-nav-item-height:                        60px;
@navbar-nav-item-padding-horizontal:            15px;
@navbar-nav-item-color:                         @global-muted-color;
@navbar-nav-item-font-size:                     @global-font-size;
@navbar-nav-item-font-family:                   @global-font-family;
@navbar-nav-item-hover-color:                   #fff;
@navbar-nav-item-onclick-color:                 #fff;
@navbar-nav-item-active-color:                  #fff;

@navbar-item-color:                             @global-color;

@navbar-toggle-color:                           @global-muted-color;
@navbar-toggle-hover-color:                     @global-color;

@navbar-subtitle-font-size:                     @global-small-font-size;

@navbar-dropdown-z-index:                       @global-z-index + 20;
@navbar-dropdown-width:                         200px;
@navbar-dropdown-margin:                        0;
@navbar-dropdown-padding:                       15px;
@navbar-dropdown-background:                    @global-muted-background;
@navbar-dropdown-color:                         @global-color;
@navbar-dropdown-grid-gutter-horizontal:        @global-gutter;
@navbar-dropdown-grid-gutter-vertical:          @navbar-dropdown-grid-gutter-horizontal;

@navbar-dropdown-dropbar-margin-top:            0;
@navbar-dropdown-dropbar-margin-bottom:         @navbar-dropdown-dropbar-margin-top;

@navbar-dropdown-nav-item-color:                @global-muted-color;
@navbar-dropdown-nav-item-hover-color:          @global-color;
@navbar-dropdown-nav-item-active-color:         @global-emphasis-color;
@navbar-dropdown-nav-header-color:              @global-emphasis-color;
@navbar-dropdown-nav-divider-border-width:      @global-border-width;
@navbar-dropdown-nav-divider-border:            @global-border;
@navbar-dropdown-nav-sublist-item-color:        @global-muted-color;
@navbar-dropdown-nav-sublist-item-hover-color:  @global-color;

@navbar-dropbar-background:                     @navbar-dropdown-background;
@navbar-dropbar-z-index:                        @global-z-index + 20;

// Theme
@navbar-nav-item-font-size:                     @global-small-font-size;

@navbar-dropdown-margin:                        10px;
@navbar-dropdown-padding:                       25px;
@navbar-dropdown-background:                    @global-background;
@navbar-dropdown-grid-gutter-horizontal:        (@navbar-dropdown-padding * 2);

//
// New
//

@navbar-nav-item-text-transform:                uppercase;

@navbar-dropdown-nav-font-size:                 @global-small-font-size;

@navbar-dropdown-box-shadow:                    0 5px 12px rgba(0,0,0,0.15);

@navbar-dropdown-grid-divider-border-width:     @global-border-width;
@navbar-dropdown-grid-divider-border:           @navbar-dropdown-nav-divider-border;

//======================================================================
//  Navbar
//======================================================================

.uk-navbar-nav {
    border-radius:@tm-border-radius;
    border:1px solid @global-border;
    box-shadow: @tm-box-shadow;
}

.uk-navbar-nav > li > a {
    font-weight:bold;
    position: relative;
    z-index:2;
}

.uk-navbar-nav > li + li {
    border-left:1px solid @global-border;
}

.uk-navbar-nav > li > a > span {
    display: block;
    position: relative;
    z-index:2;
}
.uk-navbar-nav li> a.uk-open > span,
.uk-navbar-nav li.uk-open > a > span,
.uk-navbar-nav > li:hover > a > span {
    color:#fff;
}

.uk-navbar-nav > li > a:before {
    content: "";
    position:absolute;
    bottom:0;
    left:0;
    right:0;
    height:3px;
    background: @tm-primary-bg;
    transition: height 0.2s ease;
    z-index:1;
}
.uk-navbar-nav > li.uk-active > a:before,
.uk-navbar-nav > li > a.uk-open:before,
.uk-navbar-nav > li:hover > a:before {
    height:100%;
}

/* hover */
.uk-navbar-nav > li:nth-child(6) > a:before,
.uk-navbar-nav > li > a:before {
    background: @tm-primary-bg;
}
.uk-navbar-nav > li:nth-child(7) > a:before,
.uk-navbar-nav > li:nth-child(2) > a:before {
    background: @tm-green;
}
.uk-navbar-nav > li:nth-child(8) > a:before,
.uk-navbar-nav > li:nth-child(3) > a:before {
    background: @tm-purple;
}
.uk-navbar-nav > li:nth-child(9) > a:before,
.uk-navbar-nav > li:nth-child(4) > a:before {
    background: #52b8b7;
}
.uk-navbar-nav > li:nth-child(10) > a:before,
.uk-navbar-nav > li:nth-child(5) > a:before {
    background: darken(@tm-primary-bg, 10%);
}


//----------------------------------------------------------------------
//  Dropdown
//----------------------------------------------------------------------
.dropdown-img {
    position:relative;
    //min-height:100%;
    border-right:1px solid @global-border;
}
.dropdown-img > div {
    padding:15px;
}
.dropdown-img img {
    display:block;
    //min-height:100%;
}
.uk-navbar-dropdown {
    padding:0;
}

.dropdown-items {
    padding:25px;
    border:0;
}
.uk-navbar-dropdown-grid > :not(.uk-first-column)::before {
    display:none;
}

.tm-dropdown-full {
    left:0 !important;
    width:100%;
    max-width:1200px;
}
.tm-dropdown-single {
    width:480px;
    max-width:1200px;
}
.tm-dropdown-double {
    width:680px;
    max-width:1200px;
}
.tm-dropdown-double .dropdown-img {
    max-width:240px;
}
