//======================================================================
//  Product
//======================================================================
.product-gallery .uk-grid > div + div {
    border-left:1px solid @global-border;
}
.product-gallery a:hover {
    background: radial-gradient(#fff, #fff, #fff, #f5f5f5, #eee);
}

.product-desc {
    padding-left:0;
}

//----------------------------------------------------------------------
//  Pricing
//----------------------------------------------------------------------

#pricing {
    position:relative;
    background: #fff;
    border: 1px solid @global-border;
    box-shadow:@tm-box-shadow;
    z-index:1;
    padding-bottom:5px;
}
#pricing th {
    font-family: @tm-font;
    font-size: 18px;
    font-weight:bold;
}


#pricing td + td {
    border-left:1px solid @global-border;
}

#pricing td a {
    box-sizing:border-box;
    padding:10px 5px;
    display:block;
}

@media (min-width: 960px) {

    #pricing td {
        transition:box-shadow 0.3s ease, background-color 0.1s ease;
    }

    #pricing td:not(:first-child):hover {
        position:relative;
        box-shadow: 0 2px 15px rgba(0, 0, 0, 0.4);
        z-index:999;
        //background: #fff;
        border:none;
        background: @tm-primary-bg;
    }

    #pricing td a {
        color:@global-color;
        transition: transform 0.2s ease;
    }
    #pricing td a:hover {
        text-decoration:none;
    }
    #pricing td:hover a {
        color:#fff;
        transform: scale(1.3);
    }

}
